body { 
    margin: 0;
    padding: 0;
}
.head {
    position: fixed;   
    width: 100%;
    height: 3rem;
    text-align: center;
    color: white;
    background-color: #5fc0cd;
    z-index: 1;
}
.return {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;    
}
.head_1 {
    line-height: 3rem;
}
.footer {
    position: fixed;
    bottom: 0rem;  
    width: 100%;
    background-color: white; 
}
.footer_1 {
    width: 45%;
    height: 3rem;
    margin: 2%;
    border: 2px solid #5fc0cd;
    border-radius: 10px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.25rem;
    background-color: white;
    color: #5fc0cd;
}
.footer_2 {
    width: 45%;
    height: 3rem;
    margin: 2%;
    border-radius: 10px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.25rem;
    background-color: #5fc0cd;
    color:white;
}
.main {
    position: relative;
    top:3rem;  
    height: 12rem;
    background-image: url(task5-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.main_1 {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%); 
    width: 6rem;
    height: 6rem;
}
.main_2 {
    position: absolute;
    left:8rem;
    top:50%;
    transform: translateY(-50%);
    width: 11rem;
    font-weight: 800;
    font-size: 1.1rem;
    color:white;
}
.main_3 {
    position: relative;
    top:3rem;
    width:100%;
    height:3.5rem;
    border-bottom: 2px solid #e1e5e7;
}
.p5 {
    position: absolute;
    left: 1rem;
    top:50%;
    transform: translateY(-50%);
    width: .25rem;
    height: 2rem;
}
.skill {
    position: absolute;
    left:2rem;
    line-height: 3.5rem;
    font-weight: 700;
    color:black;
}
.main_4 {
    position: relative;
    margin: 2rem;
    top: 2rem;
    width: 95%;
    height: 3.5rem;
    border-bottom: 2px solid #e1e5e7;
}
.star1 {
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}
.star2 {
    position: absolute;
    left: 6rem;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}
.main_5 {
    width: 95%;
    height: 3.5rem;
    margin: 2rem;   
    border-bottom: 2px solid #e1e5e7;
    color: black;
}
.time1 {
    border-right: 1px solid #b3b3b3;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 4rem;
    color: #b3b3b3;
}
.time2 {
    padding-left: 1rem;
    font-weight: 700;
}
.main_6 {
    position: relative;
    top:-2rem;
    border-bottom: 2px solid #e1e5e7;
    width: 95%;
    height: 3.5rem;
    margin: 2rem;
    color: black;
}
.work1 {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #b3b3b3;
    line-height: 3.5rem;
    color: #b3b3b3;
}
.work2 {
    padding-left: 1rem;
    font-weight: 700;
}
.main_7 {
    position: relative;
    top:-4rem;
    margin: 2rem;
    border-bottom: 2px solid #e1e5e7;
    width: 95%;
    height: 3.5rem;
    color: black;
}
.price1 {
    border-right: 1px solid #b3b3b3;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #b3b3b3;
    line-height: 3.5rem;
}
.price2 {
    padding-left: 1rem;
    font-weight: 700;
    color: red;    
}
.main_8 {
    position: relative;
    top: -6rem;
    width: 95%;
    height: 3.5rem;
    margin: 2rem;   
    border-bottom: 2px solid #e1e5e7;
    color: black;
}
.introduce1 {
    border-right: 1px solid #b3b3b3;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #b3b3b3;
    line-height: 3.5rem;
}
.introduce2 {
    padding-left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}